* {
  margin: 0 auto;
  border: 2px solid red;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(243, 214, 156);
  align-items: center;
}

a {
  text-decoration: none;
}
